.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  transition: 2s linear;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: linear 0.3s;
}
